.modalPanel {
  text-align: center;
  height: calc(100vh - 60px);
  width: 100vw;
  position: absolute;
  z-index: 10;
}

.window {
  position: relative;
  display: inline-block;
  margin-top: 10%;
  padding: 15px;
  background-color: whitesmoke;
  height: 150px;
  width: 300px;
}

@mixin button {
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
  margin: auto;
  &:active {
    // position: relative;
    transform: translate(0px, -1px);
  }

  // margin: 10px;
}

.loginButton {
  // margin: 10px;
  @include button;
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background: linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color: #b8e356;
  // border-radius: 6px;
  border: 1px solid #83c41a;
  // display: inline-block;
  // cursor: pointer;
  color: #ffffff;
  // font-family: Arial;
  // font-size: 10px;
  // font-weight: bold;
  // padding: 6px 24px;
  // text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;

  &:hover {
    background: linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
    background-color: #a5cc52;
  }
}

.registerButton {
  @include button;

  // margin: 10px;
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  // border-radius: 6px;
  border: 1px solid #ffaa22;
  // display: inline-block;
  // cursor: pointer;
  color: #333333;
  // font-family: Arial;
  // font-size: 10px;
  // font-weight: bold;
  // padding: 6px 24px;
  // text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;

  &:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
  }
  // &:active {
  //   position: relative;
  //   top: 1px;
  // }
}

.successRegisterMessage {
  font-size: small;
  color: green;
}

.failRegisterMessage {
  font-size: small;
  color: red;
}
