.jiraModal {
  display: grid;
  position: absolute;
  z-index: 10;
  right: 5px;
  background-color: blueviolet;
  * {
    padding: 5px;
    margin: 5px;
  }
}

.jiraProjectItem {
  background-color: whitesmoke;
  text-align: center;
  border: solid red;
}
