.jiraModal {
  display: grid;
  position: absolute;
  z-index: 10;
  right: 5px;
  background-color: blueviolet;
  * {
    padding: 5px;
    margin: 5px;
  }
}

.jiraProjectsHeader {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  background-color: black;
  margin: 0px;
}

.jiraProjectItem {
  margin: 0px;
  background-color: black;
  text-align: center;
  color: yellow;
}

.jiraProjectLoading {
  text-align: center;
  background-color: yellow;
  margin: 0px;
  color: black;
  border: solid red;
}
