.jiraModal {
  display: grid;
  position: absolute;
  z-index: 10;
  right: 5px;
  background-color: blueviolet;
  * {
    padding: 3px;
    margin: 5px;
  }
}

.jiraProjectsHeader {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  background-color: black;
  margin: 0px;
}

.jiraProjectItem {
  margin: 0px;
  background-color: black;
  text-align: center;
  color: yellow;
}

.jiraProjectLoading {
  text-align: center;
  background-color: yellow;
  margin: 0px;
  color: black;
  border: solid red;
}

.helpContainer {
  color: white;
  display: flex;
  margin: 0px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  // color: yellow;
  background-color: white;
  // border-radius: 20px;
  box-shadow: blue;
  padding: 30px;
}
