@mixin trayColor($color) {
  position: relative;
  border-radius: 3px;
  width: 300px;
  height: 100%;
  padding: 8px;
  margin-right: 8px;
  background-color: $color;
}

h3 {
  margin: 0px;
  padding: 15px;
  :hover {
    background-color: antiquewhite;
  }
}

.listTitle {
  :hover {
    background-color: rgb(233, 233, 178);
  }
}
.move {
  @include trayColor(rgb(233, 233, 178));
  .listTitle {
    background-color: rgb(233, 233, 178);
  }
}

.static {
  @include trayColor(aliceblue);
}

.board {
  display: flex;
  height: 100%;
  margin: 10px;
}

.card {
  margin-bottom: 8px;
}

.verticalIcon {
  position: absolute !important;
  top: 0px;
  right: 0px;
}

.title {
  max-width: 200px;
}
