.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  color: yellow;
  background-color: black;
  // border: 1px solid;
  box-shadow: blue;
  padding: 30px;
}

.deleteItem {
  background-color: crimson;
  text-align: center;
  border: solid 1px red;
  margin: 15px;
  &:hover {
    border: solid 1px yellow;
  }
}
